/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(https://imgur.com/LG5trlh.png);
    height: 700px;
    width: 1200px;
    /*    margin-left: -404px;
        margin-top: -280px;*/
}

